# Default ignored files
/../../ Remember Me Sử dụng Cookie /.idea/shelf/
/../../ Remember Me Sử dụng Cookie /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ Remember Me Sử dụng Cookie /.idea/httpRequests/
